h1{
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
  text-align: center;
  font-size: 100px;
  color: khaki;
}

h1,h2,h3,p {
  font-family: Helvetica;
}

.item h2{
  font-size: 32px;
}

.price {
  color: Blue;
  font-weight: bold;
}

#brush{
  color: white;
  background-color: MediumSpringGreen;
}

#frame{
  color: white;
  background-color: #f08080;
}

#paint{
  color: white;
  background: SkyBlue;
}
